header {
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;

}

.header__navigator {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

nav a {
    color: #454868;
    text-decoration: none; /*quita la linea inferior*/
    font-weight: 500; /*deja más grueso la linea del texto*/
}

.header__settings {
    display: flex;
    gap: 60px;
    align-items: center;
}

.lenguage {
    display: flex;
    align-items: center;
    gap: 10px;
    
    font-family: "Jost";
    font-weight: 300;
    color: #454868;
}

header button {
    background-color: transparent;
    border: 1px solid #4548685b;
    color: #454868;
}