#banner {
    padding: 20px;
    background-color: #C0E1FF;
}

h2 {
    font-family: Arial;
    font-size: 40px;
    text-align: center;

   }
   
.azul {
    color: blue;
}

.rojo {
    color: red;
}